<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMarcaciones"/>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://148.102.56.83:82/Marcaciones.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarcaciones" contract="ServRef_Marcaciones.IMarcaciones" name="BasicHttpBinding_IMarcaciones"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
