<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ContextMaestro" connectionString="metadata=res://*/EntityDiagrams.csdl|res://*/EntityDiagrams.ssdl|res://*/EntityDiagrams.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.;initial catalog=SIS_INCIDENCIA;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>-->
	  <add name="ContextMaestro" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=.\SQLEXPRESS;Initial Catalog=DB_9CC54A_TWMOMIA;User=sa;Password=73038887;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />

  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/></startup></configuration>
