<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="CrystalImageCleaner-AutoStart" value="true" />
    <add key="CrystalImageCleaner-Sleep" value="60000" />
    <add key="CrystalImageCleaner-Age" value="120000" />
    <add key="hostsmtp" value="mail.grupogn.com.pe" />
    <!--<add key="puerto" value="587" />-->
    <add key="puerto" value="8889" />
    <add key="puertossl" value="465" />
    <add key="account" value="sistemas@grupogn.com.pe" />
    <add key="pwd" value="gestion.2015" />
    <!--<add key="RutaServidor" value="http://localhost:11513/" />-->
    <add key="RutaServidor" value="http://controldoc.gnrsgroup.com/" />
    <!--cambiar por el link actual y limpiar solución-->
    <add key="emailAdminSistema" value="fpumaylle@gnconsultora.com" />
    <add key="CDOC_FileServerPath" value="~/Assets/ctrlDoc/FileServer/" />
    <add key="CDOC_Ruta_Personas" value="Documentos/Personas/" />
    <add key="CDOC_Ruta_ImgPersonas" value="Documentos/ImgPersonas/" />
    <add key="CDOC_Ruta_Documentos" value="Documentos/Documentos" />
    <!--<add key="CDOC_Max_Upload_File" value="1024" />-->
    <!--1MB en KB-->
    <add key="CDOC_Max_Upload_File" value="15360" />
    <!--15MB en KB-->
    <!--INI - Datos de Configuracion del Mail-->
    <add key="EnvioMailBD" value="0" />
    <!--EnvioMailBD -> 1: BD, 0: Aplicativo-->
    <!--FIN - Datos de Configuracion del Mail-->
    <add key="CDOC_Texto_Area" value="Gerencia de Línea" />
    <add key="CDOC_Texto_Seccion" value="Área" />
    <add key="CDOC_MODO_RRHH" value="1" />
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="false" />
	  <!--Inicio appSetting portal-->
	
	  <add key="I_FileServerPath" value="~/Assets/Portal/FileServer/" />
	  <add key="I_Ruta_ImgUsers" value="imgUsers/" />
	  <add key="I_Ruta_Contenidos" value="imgContenidos/" />
	  <add key="I_Ruta_CronogramaMes" value="ImgCronogramaMes/" />
	  <add key="I_Ruta_Anuncios" value="imgAnuncios/" />
	  <add key="I_Ruta_Boletines" value="docBoletines/" />
	  <add key="I_Ruta_Documentos" value="Documentos/" />
	  <add key="I_Ruta_Procedimientos" value="DocProcedimientos/" />
	  <add key="I_Ruta_Formatos" value="docFormatos/" />
	  <add key="I_Ruta_Eventos" value="imgEventos/" />
	  <add key="I_Ruta_Beneficios" value="docBeneficios/" />
	  <add key="I_Ruta_Videos" value="Videos/" />
	  <add key="I_Ruta_OHSAS" value="docOHSAS/" />
	  <add key="I_Ruta_PlantillaCorreo" value="imgPlantillaCorreo/" />
	  <add key="I_Max_Upload_File" value="1024" />
	  <!--KB-->
	  <add key="I_Max_Upload_Imagen" value="100" />
	  <!--KB-->
	  <add key="I_Texto_Localidad" value="Centro de Labor" />
	  <add key="I_Texto_CategoriaAuxiliar" value="Gerencia de Línea" />
	  <add key="I_Texto_CategoriaAuxiliar2" value="Área" />
	  <add key="I_NombreEmpresa" value="Comacsa" />
	  <add key="I_NombreProyecto" value="Intranet" />
	  <!--[INICIO] - Configuración de Correo portal-->
	  <add key="MailAddress" value="no-reply@gestiondenegociosrs.com" />
	  <add key="DisplayName" value="[Comacsa] - Intranet Pruebas]" />
	  <add key="Host" value="smtp.1and1.com" />
	  <add key="Port" value="587" />
	  <add key="UserEmail" value="contratosrrhh@gestiondenegociosrs.com" />
	  <add key="PwdEmail" value="gestion2015" />
	  <!-- End appSeting portla -->
  </appSettings>

	<!--[Inicio] - Tamaño Maximo JSON (Para portal)-->
  <system.web.extensions>
    <scripting>
      <webServices>
        <authenticationService enabled="true" />
        <jsonSerialization maxJsonLength="202400" />
      </webServices>
    </scripting>
  </system.web.extensions>
  <!--[Fin] - Tamaño Maximo JSON (para portal)-->
  <system.web>
	  
	  <compilation debug="true" targetFramework="4.5.1">
		  <assemblies>
			  <add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			  <add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			  <add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			  <add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
			  <add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.4000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
	
			  <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
			  <add assembly="System.Core, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />

			  <!--para portal-->
			  <add assembly="AjaxControlToolkit, Version=3.0.20820.16598, Culture=neutral, PublicKeyToken=28f01b0e84b6d53e" />
			  <!--<add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />-->
		  </assemblies>
		<buildProviders>
			<!--<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />-->
			<add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
		  </buildProviders>
	  </compilation>
	  <authentication mode="Forms">
		  <forms loginUrl="~/Views/Login/Login.aspx" defaultUrl="~/Default.aspx" timeout="60" slidingExpiration="true" />
	  </authentication>
	  <httpRuntime targetFramework="4.5.1" />
	  <pages>
		  <namespaces>
			  <add namespace="System.Web.Optimization" />
		  </namespaces>
		  <controls>
			  <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
		  </controls>
	  </pages>
	<!--[Inicio] configuracion (portal)-->
	  <!--<httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=10.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false" />
    </httpHandlers>-->
	<!-- Fin configuracion portal-->
  </system.web>
  <connectionStrings>
    <!--<add name="ContextMaestro_20503101913" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5087.site4now.net;Initial Catalog=DB_9CC54A_AYN3;User=DB_9CC54A_AYN3_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient"/>-->
	  <!--TWMOMIA-->
	  <add name="ContextMaestro_20604740097" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5093.site4now.net;Initial Catalog=DB_9CC54A_TWMOMIA;User=DB_9CC54A_TWMOMIA_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20604740097" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5093.site4now.net;Initial Catalog=DB_9CC54A_TWMOMIA;User=DB_9CC54A_TWMOMIA_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--HOTELTUMI-->
	  <add name="ContextMaestro_20115635388" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5093.site4now.net;Initial Catalog=DB_9CC54A_HOTELTUMI;User=DB_9CC54A_HOTELTUMI_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20115635388" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5093.site4now.net;Initial Catalog=DB_9CC54A_HOTELTUMI;User=DB_9CC54A_HOTELTUMI_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--ayn-->
	  <add name="ContextMaestro_20503101913" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5087.site4now.net;Initial Catalog=DB_9CC54A_AYN3;User=DB_9CC54A_AYN3_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20503101913" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5087.site4now.net;Initial Catalog=DB_9CC54A_AYN3;User=DB_9CC54A_AYN3_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--payroll-->
	  <add name="ContextMaestro_20602094694" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5087.site4now.net;Initial Catalog=DB_9CC54A_PAYROLLWORLDWIDE;User=DB_9CC54A_PAYROLLWORLDWIDE_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20602094694" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5087.site4now.net;Initial Catalog=DB_9CC54A_PAYROLLWORLDWIDE;User=DB_9CC54A_PAYROLLWORLDWIDE_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--grupohuayta-->
	  <add name="ContextMaestro_20507913785" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5090.site4now.net;Initial Catalog=db_9cc54a_grupohuayta;User=db_9cc54a_grupohuayta_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20507913785" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5090.site4now.net;Initial Catalog=db_9cc54a_grupohuayta;User=db_9cc54a_grupohuayta_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--huancahuasi-->
	  <add name="ContextMaestro_20522739279" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5090.site4now.net;Initial Catalog=db_9cc54a_huancahuasi;User=db_9cc54a_huancahuasi_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20522739279" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5090.site4now.net;Initial Catalog=db_9cc54a_huancahuasi;User=db_9cc54a_huancahuasi_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--getgrill-->
	  <add name="ContextMaestro_20547724241" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5090.site4now.net;Initial Catalog=db_9cc54a_getgrill;User=db_9cc54a_getgrill_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20547724241" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5090.site4now.net;Initial Catalog=db_9cc54a_getgrill;User=db_9cc54a_getgrill_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--solarpack-->
	  <add name="ContextMaestro_20555725346" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5090.site4now.net;Initial Catalog=db_9cc54a_solarpack;User=db_9cc54a_solarpack_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20555725346" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5090.site4now.net;Initial Catalog=db_9cc54a_solarpack;User=db_9cc54a_solarpack_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--talent-->
	  <add name="ContextMaestro_20608184938" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5057.site4now.net;Initial Catalog=db_9cc54a_talent;User=db_9cc54a_talent_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20608184938" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5057.site4now.net;Initial Catalog=db_9cc54a_talent;User=db_9cc54a_talent_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--omia-->
	  <add name="ContextMaestro_20604904618" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5057.site4now.net;Initial Catalog=db_9cc54a_omiaplanilla2022;User=db_9cc54a_omiaplanilla2022_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20604904618" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5057.site4now.net;Initial Catalog=db_9cc54a_omiaplanilla2022;User=db_9cc54a_omiaplanilla2022_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--multiplica-->
	  <add name="ContextMaestro_20550601185" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5057.site4now.net;Initial Catalog=db_9cc54a_multiplica;User=db_9cc54a_multiplica_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20550601185" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5057.site4now.net;Initial Catalog=db_9cc54a_multiplica;User=db_9cc54a_multiplica_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--galenicum-->
	  <add name="ContextMaestro_20548138648" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5057.site4now.net;Initial Catalog=db_9cc54a_galenicum;User=db_9cc54a_galenicum_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20548138648" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5057.site4now.net;Initial Catalog=db_9cc54a_galenicum;User=db_9cc54a_galenicum_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--corporaciongm-->
	  <add name="ContextMaestro_20604386579" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_corporaciongm;User=db_9cc54a_corporaciongm_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20604386579" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_corporaciongm;User=db_9cc54a_corporaciongm_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--kero-->
	  <add name="ContextMaestro_20341823537" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_kero;User=db_9cc54a_kero_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20341823537" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_kero;User=db_9cc54a_kero_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--torresegurity-->
	  <add name="ContextMaestro_20392819615" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_torresegurity;User=db_9cc54a_torresegurity_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20392819615" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_torresegurity;User=db_9cc54a_torresegurity_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--grupogn-->
	  <add name="ContextMaestro_20607095711" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_grupogn;User=db_9cc54a_grupogn_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20607095711" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_grupogn;User=db_9cc54a_grupogn_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--gca-->
	  <add name="ContextMaestro_20536305298" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gca2024;User=db_9cc54a_gca2024_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20536305298" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gca2024;User=db_9cc54a_gca2024_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--gcaplumas-->
	  <add name="ContextMaestro_20102026986" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcaplumas;User=db_9cc54a_gcaplumas_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20102026986" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcaplumas;User=db_9cc54a_gcaplumas_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--sisgnrs-->
	  <add name="ContextMaestro_20100007348" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5089.site4now.net;Initial Catalog=DB_9CC54A_SISGNRSWEBLG;User=DB_9CC54A_SISGNRSWEBLG_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20100007348" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5089.site4now.net;Initial Catalog=DB_9CC54A_SISGNRSWEBLG;User=DB_9CC54A_SISGNRSWEBLG_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
	  <!--gcadespachalo-->
	  <add name="ContextMaestro_20611141786" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcadespachalo;User=db_9cc54a_gcadespachalo_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20611141786" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcadespachalo;User=db_9cc54a_gcadespachalo_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--gcastudiovt-->
	  <add name="ContextMaestro_20610384189" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcaestudiovt;User=db_9cc54a_gcaestudiovt_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20610384189" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcaestudiovt;User=db_9cc54a_gcaestudiovt_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--gcaimproyen-->
	  <add name="ContextMaestro_20602643353" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcaimproyen;User=db_9cc54a_gcaimproyen_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20602643353" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcaimproyen;User=db_9cc54a_gcaimproyen_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--lasonrisa-->
	  <add name="ContextMaestro_20543136833" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcalasonrisa;User=db_9cc54a_gcalasonrisa_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20543136833" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcalasonrisa;User=db_9cc54a_gcalasonrisa_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--gcamfg-->
	  <add name="ContextMaestro_20553165891" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcamfg;User=db_9cc54a_gcamfg_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20553165891" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcamfg;User=db_9cc54a_gcamfg_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--gcaqualitytextile-->
	  <add name="ContextMaestro_20517437841" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcaqualitytextile;User=db_9cc54a_gcaqualitytextile_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20517437841" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcaqualitytextile;User=db_9cc54a_gcaqualitytextile_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--gcasumaban-->
	  <add name="ContextMaestro_20602039901" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcasumaban;User=db_9cc54a_gcasumaban_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20602039901" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcasumaban;User=db_9cc54a_gcasumaban_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--gcatekprint-->
	  <add name="ContextMaestro_20611419806" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcatekprint;User=db_9cc54a_gcatekprint_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20611419806" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcatekprint;User=db_9cc54a_gcatekprint_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--gcatopnbrands-->
	  <add name="ContextMaestro_20611203315" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcatopnbrands;User=db_9cc54a_gcatopnbrands_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20611203315" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_gcatopnbrands;User=db_9cc54a_gcatopnbrands_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--mfgsuperfood-->
	  <add name="ContextMaestro_20607523968" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_mfgsuperfood;User=db_9cc54a_mfgsuperfood_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20607523968" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_mfgsuperfood;User=db_9cc54a_mfgsuperfood_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
    <!--practicalong-->
	  <add name="ContextMaestro_20110974648" connectionString="metadata=res://*/DiagramaEntity.csdl|res://*/DiagramaEntity.ssdl|res://*/DiagramaEntity.msl;provider=System.Data.SqlClient;provider connection string='Data Source=sql5054.site4now.net;Initial Catalog=db_9cc54a_practicalong;User=db_9cc54a_practicalong_admin;Password=rsalas2015;MultipleActiveResultSets=True;'" providerName="System.Data.EntityClient" />
	  <add name="ContextEntityDiagram_20110974648" connectionString="metadata=res://*/EntityDiagram.csdl|res://*/EntityDiagram.ssdl|res://*/EntityDiagram.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=sql5054.site4now.net;Initial Catalog=db_9cc54a_practicalong;User=db_9cc54a_practicalong_admin;Password=rsalas2015;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ReportDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CubeDefModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.Controllers" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommonObjectModel" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.CommLayer" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.ClientDoc" publicKeyToken="692FBEA5521E1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.WebForms" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.DataVisualization" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.SqlServer.Types" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.Shared" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.CrystalReports.Engine" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportAppServer.DataSetConversion" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.4000.0" newVersion="13.0.4000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="CrystalDecisions.ReportSource" publicKeyToken="692fbea5521e1304" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.2000.0" newVersion="13.0.2000.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.ReportViewer.Common" publicKeyToken="89845dcd8080cc91" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
		
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.web>
    <membership>
      <providers>
        <clear />
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ApplicationServices" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="5" minRequiredPasswordLength="6" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/" />
      </providers>
    </membership>
    <profile>
      <providers>
        <clear />
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="ApplicationServices" applicationName="/" />
      </providers>
    </profile>
    <roleManager enabled="false">
      <providers>
        <clear />
        <add name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider" connectionStringName="ApplicationServices" applicationName="/" />
        <add name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider" applicationName="/" />
      </providers>
    </roleManager>
    <httpHandlers>
      <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" />
      <!--<add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=15.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" validate="false" />-->
		<!--Para el grafico portal-->
		<add verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />

	</httpHandlers>
    <!--<customErrors mode="RemoteOnly" />-->
    <customErrors mode="Off" />
	  
  </system.web>
  <system.web>
    <sessionState mode="InProc" cookieless="false" timeout="40" />
	  
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=11.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
	</handlers>
    <validation validateIntegratedModeConfiguration="false" />
    <defaultDocument>
      <files>
        <add value="Login.aspx" />
      </files>
    </defaultDocument>
    <httpErrors errorMode="Custom" />
    <urlCompression doDynamicCompression="true" />
  </system.webServer>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IMarcaciones" maxBufferSize="5242880" maxReceivedMessageSize="5242880" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://148.102.56.83:82/Marcaciones.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMarcaciones" contract="ServRef_Marcaciones.IMarcaciones" name="BasicHttpBinding_IMarcaciones" />
    </client>
  </system.serviceModel>
</configuration>